.signatureCanvas {
  height: 100%; /* Alto del canvas al 100% del contenedor */
  width: 100%; /* Ancho del canvas al 100% del contenedor */
  max-width: 400px; /* Ancho máximo para el canvas */
  max-height: 400px; /* Alto máximo para el canvas */
  border: 1px solid #000;
  border-radius: 4px;
  box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho y alto */
}
